RewriteEngine on
RewriteCond %{HTTP_HOST} ^lego-inventory-swagger-ui.herokuapp.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.lego-inventory-swagger-ui.herokuapp.com$
RewriteCond %{REQUEST_URI} !dev-helpers/
RewriteRule (.*) /dev-helpers/$1 [L]
DirectoryIndex /dev-helpers/index.html
